<p>
  <p>
    <h1 style="text-align: center;">Optimización por Frente de Pareto</h1>
  <p style="text-align:justify;">
    La optimización por Frente de Pareto es un tipo de optimización multiobjetivo basada en el concepto de 
    eficiencia u optimalidad de Vilfredo Pareto:<br><br>
    <i>Dada una asignación inicial de bienes entre un conjunto de individuos, un cambio hacia una nueva asignación que al 
    menos mejora la situación de un individuo sin hacer que empeore la situación de los demás se denomina mejora de Pareto.
     Una asignación se define como "pareto-eficiente" o "pareto-óptima" cuando no pueden lograrse nuevas mejoras de Pareto.</i><br>
     Más formalmente, una solución a un problema multiobjetivos se dice que es pareto-óptima cuando no existe otra solución
      tal que mejore en un objetivo sin empeorar al menos uno de los otros.  Dado un “universo” de alternativas (espacio de soluciones)
       se busca determinar el 
      conjunto que son eficientes de acuerdo con Pareto. Ese conjunto de alternativas óptimas establece un “Frente o Frontera de Pareto”.
       El estudio de las soluciones en la frontera permite a los diseñadores analizar las posibles alternativas dentro
        de los parámetros establecidos, sin tener que analizar la totalidad de posibles soluciones.<br>
        Los métodos de Optmización por Frente de Pareto se basan en calcular el Frente de Pareto para una instancia del problema
         y luego, si se tiene que decidir por una única solución, se pueden aplicar técnicas de ponderado de objetivos. Algunos de los métodos más utilizados 
         en la Optimización por Frente de Pareto se basan en heurísticas de búsqueda, como los algoritmos genéticos.
</p>
<img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Front_pareto.svg/300px-Front_pareto.svg.png" decoding="async" width="300" height="225" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Front_pareto.svg/450px-Front_pareto.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Front_pareto.svg/600px-Front_pareto.svg.png 2x" data-file-width="640" data-file-height="480">