
<h1 style="text-align: center;">Optimización sin restricciones</h1>
    <p style="text-align:justify;">
      La optimización sin restricciones constituye el caso más simple de los problemas de optimización, consiste en maximizar o minimizar una función real descubriendo los "mejores valores" de dicha función (llamada objetivo) objetivo dado un dominio definido sin restricciones.
      Un problema de optimización sin restricciones puede ser representado de la siguiente forma:
    </p>
    <p class="tab"> Sea ƒ: ℜ<sup>n</sup> → ℜ una función a optimizar (función objetivo)</p>
    <p class="tab"> Se formula el problema como <i>opt</i> ƒ(x<sub>0</sub>,... , x<sub>n</sub>)</p>
  
    <p style="text-align:justify;">
       De manera que s=(x<sub>0</sub>,... , x<sub>n</sub>) ϵ ℜ<sup>n</sup> es solución óptima si y sólo si:
    </p>
    <p class="tab">ƒ(s)≤ƒ(x) ∀ x ϵ ℜ<sup>n</sup>; (minimización)</p>
    <p class="tab">ƒ(s)≥ƒ(x) ∀ x ϵ ℜ<sup>n</sup>; (maximización)</p>
    <p style="text-align:justify;">
      En estos casos, s es un óptimo global. Sin embargo el mínimo global puede ser difícil de encontrar pues nuestro conocimiento de ƒ es usualmente local. La mayoría de los algoritmos calculan mínimos locales, que son puntos en los que sea alcanza el menor valor de ƒ en su entorno.
    </p>
    <p>s=(x<sub>0</sub>,... , x<sub>n</sub>) ϵ ℜ<sup>n</sup> es un óptimo local si y sólo si existe un entorno N tal que:</p>
    <p class="tab">ƒ(s)≤ƒ(x) ∀ x ϵ N; (minimización)</p>
    <p class="tab">ƒ(s)≥ƒ(x) ∀ x ϵ N; (maximización)</p>
  

  <h1> Diferentes funciones objetivos </h1>
  <p style="text-align:justify;">
  Los métodos de optimización utilizados varían según el tipo de función objetivo, teniendo en cuenta:</p>
  <p class="tab">• Su curvatura (convexa o no convexa).</p>
  <p class="tab">• Su continuidad y derivabilidad.</p>
  <p class="tab">• Su cantidad de variables.</p>
  <p class="tab">• La presencia de raíces reales para la función.</p>
  <br>

      <h1> Videos relacionados </h1>
      <iframe width="100%" height="250 px" src="https://www.youtube.com/embed/RxPjiodgxeQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>