.coeficiente {
    width: 20%;
    display: inline-block; 
    text-align: center;
    border: 1px;
} 

.mmi {
    padding: 0; 
    margin:0; 
    display: inline-block;
    text-align: center;
}

.block-container{
    border: 1px solid slateblue;
    padding: 2%;
}
