<p>
  <h1 style="text-align: center;">Goal Programming</h1>
<p style="text-align:justify;">
    Goal Programming o Programación por Objetivos o Metas es una rama de la optimización que
     trata con objetivos simples o múltiples. La dificultad de la optimización multiobjetivos es la presencia
      de varios criterios a cumplir para determinar una solución óptima, y en ocasiones dichos criterios son 
      conflictivos entre sí. Una solución válida consiste en un conjunto de valores de variables 
      que resulte en un compromiso entre los objetivos, y cada objetivo esté satisfecho en una proporción aceptable.
      Goal programming se puede concebir como una generalización de las técnicas de Programación Lineal a optimización
       multiobjetivo.
  </p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2xPWeQ-Khq4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>