<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contenidos de la Materia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
      <ion-item (click)=Expandlist() color="medium"  >
          <ion-label>{{title}} </ion-label>  
          <ion-icon [name]="icon" slot="end"> </ion-icon>
      </ion-item>
    <ion-item type="button" *ngFor="let item of items" (click)="showComponent(item.index)"  id="expandWrapper" class="expand-wrapper" [class.collapsed]="!expanded">
      <ion-icon name="arrow-dropright" slot="start" style="margin: 0;"></ion-icon>
      <ion-label> {{item.note}}</ion-label>   
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  <div style="padding: 3%;">
      <app-intro *ngIf="items[0].selected"></app-intro>
      <app-sin-rest *ngIf="items[1].selected" > </app-sin-rest>
      <app-con-rest *ngIf="items[2].selected"></app-con-rest>
      <app-multiobjetivo *ngIf="items[3].selected"></app-multiobjetivo>
      <app-pareto *ngIf="items[4].selected"></app-pareto> 
  </div>
 

</ion-content>
