

    <h1 style="text-align: center;">¿Qué es Optimización?</h1>
      <p style="text-align:justify;">
             Optimización es la selección del mejor elemento (con respecto a algún criterio) de un conjunto de elementos disponibles
      <br><br>
             En el caso más simple, un problema de optimización consiste en maximizar 
          o minimizar una función real eligiendo sistemáticamente valores de entrada 
          (tomados de un conjunto permitido) y computando el valor de la función.
      </p>

      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/RxPjiodgxeQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




